<h1>Database Options</h1>

<%= "SHOW DATABASES;" %><br>
<%= "CREATE DATABASES db_name;" %><br>
<%= "USE db_name;" %><br>
<%= "DROP DATABASE db_name;" %><br>
<hr>

<%= "Give user permissions to database" %><br>
<%= "GRANT ALL PRIVILEGES ON db_name.*" %><br>
<%= "TO 'username'@'localhost'" %><br>
<%= "IDENTIFIED BY 'password';" %><br>
<%= "SHOW GRANTS FOR 'username'@'localhost';" %><br>
<hr>
