<h1>Demoindex</h1>
<p>Fuck it works!!</p>
<%= 1+1 %>
<br />

<% target = "world" %>
<%= "Hello #{target}" %>

<% @array.each do |n| %>
  <%= n %><br />
<% end %>

<%= link_to('Hello Page 2', {:action => 'index'}) %>

<br />
ID: <%= params[:id] %><br />
ID: <%= @id %><br />
Page: <%= @page %><br />
Next Page: <%= @page.to_i + 1 %><br />

<hr />
<%= params.inspect %>
