<h1>Demoindex</h1>
<p>Hello World!!</p>

<a href="/demo/hello">Hello Page </a><br />
<%= link_to('Hello Page 2', {:action => 'hello'}) %><br />

<%= link_to('Hello Page with Parameters', {:action => 'hello', :page => 5, :id => 20 }) %>
<br>
<%= link_to('Hello', '#', :onclick => "jsRoar('JavaScript'); return true;") %>

<hr>

<%= link_to('Text Helpers', {:action => 'text_helpers'}) %><br />
<%= link_to('Number Helpers', {:action => 'number_helpers'}) %><br />
<%= link_to('Form Helpers', {:action => 'form_helpers'}) %><br />
<%= link_to('Date Time Helpers', {:action => 'date_time_helpers'}) %><br />
<%= link_to('Escape Output', {:action => 'escape_output'}) %><br />
<%= link_to('Validation Methods', {:action => 'validation_methods'}) %><br />


<%= javascript_tag("jsRoar('Rails');") %>
