<% text = "This is Sample Text. Here is a Line Break.\nHere is a Double Line Break\n\nPlease continue with paragraph\n\nlast line.\n"
%>
<h2>word_wrap</h2>
<%= word_wrap(text, :line_width => 30) %>
<hr />

<h2>simple_format</h2>
<%= simple_format(text) %>
<hr />

<h2>simple_format + word_wrap</h2>
<%= simple_format(word_wrap(text, :line_width => 30)) %>
<hr />

<h2>truncate</h2>
<%= truncate(text, :length => 10, :omission => "...") %>
<hr />

<h2>excerpt</h2>
<%= excerpt(text, 'continue', :radius => 7, :omission => '...') %>
<hr />

<h2>highlight</h2>
<%= highlight(text, 'Sample Text') %>
<hr />
<%= highlight(text, ['Sample', 'Double'], :highlighter => '<em>\1</em>') %>
<hr />

<h2>pluralize</h2>
<%= "student".pluralize %><br />
<%= "ox".pluralize %><br />
<br />
<%= pluralize(2, 'product') %><br />
<br />
<% [0, 1, 20].each do |n| %>
  <%= pluralize(n, 'product') %><br />
  <%= pluralize(n, 'octopus') %><br />
  <%= pluralize(n, 'snipe', 'snope') %><br />
<% end %>
<hr />

<h2>cycle</h2>
<% 11.times do %>
<%= cycle('red', 'green', 'blue') %><br>
<% end %>
<hr />
